.transactions-page-container {
  max-width: 1100px;
  margin: 32px 0 81px;
}

/* ===== SEARCH BAR ELEMENTS ===== */
.transactions-page-form {
  justify-content: space-between;
  margin-bottom: 38px;
}

.transactions-page-form input {
  padding: 12px 2.5rem 12px 1rem;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  min-width: 320px;
  background-image: url(../../../public/assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.transaction-page-form-menu {
  position: relative;
  gap: 7px;
}

.mg-right {
  margin-right: 2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-txt {
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  padding: 12px 1.2rem;
  gap: 1rem;
  cursor: pointer;
}

.dropdown-content {
  border-radius: 8px;
  padding: 1rem 1.1rem;
  position: absolute;
  z-index: 10;
  background-color: rgb(254, 254, 254);
  border: 1px solid var(--grey-100);
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content p {
  border-top: 1px solid var(--grey-100);
  padding: 0.7rem;
  cursor: pointer;
  color: var(--grey-500);
}

.dropdown-content p:first-child {
  border-top: 0;
}

.dropdown-content p:hover {
  color: var(--black);
}

.dropdown-icon {
  display: none;
}

.transactions-mobile {
  display: none;
}

.transactions-page-transaction-name-img img,
.transactions-left-mobile img {
  width: var(--portrait);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.transactions-page-transaction-name-img strong {
  color: var(--grey-900);
  margin-left: 1rem;
}

.transaction-amount-date strong {
  color: var(--green);
}

.transactions-page-transaction-category-date p,
.transactions-page-transactions-labels p {
  color: var(--grey-500);
}

.transactions-page-transactions-labels,
.transactions-page-transactions-labels>div,
.transactions-page-transaction,
.transactions-page-transaction-name-img,
.transactions-page-transaction-category-date,
.pagination-pages-choice,
.transactions-page-pagination,
.transactformions-page-,
.transaction-page-form-menus,
.dropdown-txt,
.transactions-page-form,
.transaction-page-form-menu,
.transactions-page-form-dropdowns-wrapper,
.transactions-left-mobile,
.transactions-mobile-item {
  display: flex;
  align-items: center;
}

.transactions-page-transaction,
.transactions-page-transactions-labels,
.transactions-page-pagination {
  justify-content: space-between;
}

.transactions-page-transactions-labels {
  margin: 24px 0;
}

.transactions-page-transaction {
  border-top: 1px solid var(--grey-100);
  padding: 1rem 0;
}

.transactions-page-transaction-name-img,
.transactions-page-transactions-labels-first {
  max-width: 428px;
  width: 100%;
}

.transactions-page-transactions-labels>div,
.transactions-page-transaction-category-date {
  gap: 2rem;
}

.transactions-page-transaction-category,
.transactions-page-transactions-labels-category {
  width: 80px;
}

.transactions-page-transactions-labels-date,
.transactions-page-transaction-date {
  width: 97px;
}

.pagination-pages-choice {
  gap: 10px;
}

.transactions-page-transaction-amount strong,
.transactions-page h1,
.transactions-page-transaction-name-img strong {
  color: var(--grey-900);
}

.transactions-page-pagination {
  padding-top: 1rem;
}

.transactions-page-pagination button {
  background-color: transparent;
  border: 1px solid var(--grey-100);
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 15px;
  transition: all 0.2s ease-in-out;
}

.transactions-page-pagination button.active,
.transactions-page-pagination button:hover {
  background-color: var(--grey-900);
  color: var(--white);
}

.transactions-page-pagination button.active p,
.transactions-page-pagination button:hover p {
  color: var(--white);
}

@media (max-width: 1155px) {
  .transactions-page-container {
    max-width: 100%;
  }

  .transactions-page-form input {
    padding: 12px 2rem 12px 1rem;
    min-width: unset;
    background-position: center right 10px;
  }

  .mg-right {
    margin-right: 0.5rem;
  }

  .transaction-page-form-menu {
    gap: 3px;
  }
}

@media (max-width: 1024px) {
  .mg-right {
    margin-right: 1rem;
  }

  .transaction-page-form-menu {
    gap: 7px;
  }

  .transactions-page-container {
    margin: 18px 0 100px;
  }
}

@media (max-width: 800px) {

  .dropdown-txt,
  .dropdown-label {
    display: none;
  }

  .dropdown-icon {
    display: block;
    cursor: pointer;
  }

  .mg-right {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .dropdown-content {
    right: -1rem;
    min-width: 165px;
    text-align: center;
  }

  .transactions-page-form input {
    width: 100%;
  }

  .transactions-page-transactions-labels,
  .transactions-page-transaction {
    display: none;
  }

  .transactions-mobile {
    display: inline-block;
    width: 100%;
  }

  .transactions-left-mobile {
    gap: 1rem;
  }

  .transactions-mobile-item {
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid var(--grey-100);
  }

  .transactions-right-mobile {
    text-align: end;
  }

  .transactions-page-pagination button {
    gap: 0;
    padding-inline: 12px;
  }

  .transactions-page-pagination button p {
    display: none;
  }
  .page-btn-2 {
    margin-left: 5px;
  }
  .page-btn-1 {
    margin-right: 5px;
  }
}