.overview-wrapper {
  padding: 31px 3rem 0 0;
  max-width: 1140px;
}

.overview-wrapper .metrics {
  max-width: var(--mx-width);
}

.overview-wrapper h1 {
  color: var(--grey-900);
}

.overview-wrapper .metrics {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview-wrapper .metric {
  max-width: 337px;
  width: 100%;
  border-radius: 12px;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  background-color: var(--white);
  height: 119px;
}

.overview-wrapper .metric h3 {
  color: var(--grey-500);
}

.overview-wrapper .metrics > :first-child {
  background-color: var(--grey-900);
  color: var(--white);
}

.overview-wrapper .metrics > :first-child h3 {
  color: var(--grey-300);
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 1430px) {
  .overview-wrapper .metric {
    max-width: 280px;
  }
}

@media (max-width: 1220px) {
  .overview-wrapper .metric {
    max-width: 215px;
  }
}

@media (max-width: 1024px) {
  .overview-wrapper {
    max-width: 100%;
    padding: 1rem;
  }
  .overview-wrapper h1 {
    margin: auto;
    max-width: 687px;
  }
  .overview-wrapper .metrics {
    max-width: 687px;
    justify-content: center;
    gap: 1.5rem;
    margin-inline: auto;
  }
  .overview-wrapper .metric {
    max-width: 213px;
  }
}

@media (max-width: 800px) {
  .overview-wrapper h1 {
    margin: auto;
    max-width: 100%;
  }
  .overview-wrapper .metrics {
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
  }
  .overview-wrapper .metric {
    max-width: 100%;
  }
}
