/* Donut layout */
.donut-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
  padding-bottom: 2.6rem;
}

.donut {
  position: relative;
  width: 240px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--grey-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-hole {
  position: absolute;
  width: 150px;
  aspect-ratio: 1/1;
  background: var(--grey-100);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 15px solid rgba(255, 255, 255, 0.3);
}

.donut-center-txt {
  text-align: center;
}

.donut-center-txt p {
  color: var(--grey-500);
}

.detail p {
  color: var(--grey-500);
}

/* Spinner */
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid var(--grey-300);
  border-top-color: var(--grey-900);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.spinner.small {
  width: 14px;
  height: 14px;
  border-width: 2px;
  border-top-color: var(--grey-900);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Details */
.details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 43px;
}

.color-bar {
  width: 4.5px;
  height: inherit;
  border-radius: 2px;
}

@media (max-width: 1300px) {
  .donut-details {
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 800px) {
  .donut-details {
    flex-direction: column;
    gap: 1rem;
  }
  .details {
    gap: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
