/* === HEADER - NAVBAR ===*/
header {
  background-color: var(--grey-900);
  padding: 40px 0 24px 0;
  border-radius: 0 24px 24px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}

header .nav-link,
header p {
  color: var(--grey-300);
}

.nav-link,
#toggle-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 56px;
  margin: 4px 0;
  max-width: 276px;
  width: 100%;
  border-radius: 0 12px 12px 0;
  padding-left: 2rem;
  transition: background-color 0.3s, padding 0.3s;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  font: inherit;
}

.nav-link:hover {
  border-left: 5px solid var(--green);
  background-color: var(--white);
  color: var(--grey-900);
}

.nav-link.active {
  border-left: 5px solid var(--green);
  background-color: var(--white);
  color: var(--grey-900);
}

header .logo-large {
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: block;
  transition: opacity 0.3s ease;
}

header .logo-minimized {
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: none;
  transition: opacity 0.3s ease;
}

header #toggle-menu {
  margin-top: 250px;
  transition: all 0.3s ease;
}

.logo-large {
  max-width: 122px;
}

/* === MINIMIZED STATE === */
header.minimized {
  max-width: 90px;
}

header.minimized .logo-large {
  display: none;
}

header.minimized .logo-minimized {
  display: block;
  width: 13px;
}

header.minimized .nav-link {
  justify-content: center;
  padding-left: 0;
}

header.minimized .nav-link span {
  display: inline-block;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
}

header.minimized #toggle-menu {
  justify-content: center;
  padding-left: 0;
  max-width: 100%;
  gap: 0;
}

header.minimized #toggle-menu p {
  display: none;
}

header.minimized #toggle-menu img {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

/* === RESPONSIVE DESIGN === */
@media (max-width: 1024px) {
  header {
    padding: 10px 1rem;
    border-radius: 12px 12px 0 0;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  #toggle-menu,
  #logo-1,
  #logo-2 {
    display: none;
  }

  header nav {
    width: 100%;
  }

  header ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: auto;
    margin: 0;
    border-radius: 16px 16px 0 0;
    padding: 5px 10px;
    justify-content: center;
  }

  .nav-link:hover {
    border-left: none;
    border-bottom: 5px solid var(--green);
    background-color: transparent;
  }

  .nav-link.active {
    border-left: none;
    border-bottom: 5px solid var(--green);
    background-color: transparent;
  }
}

@media (max-width: 800px) {
  header {
    padding: 1rem;
  }

  .nav-link span {
    display: none;
  }

  .nav-link:hover,
  .nav-link.active {
    border-bottom: none;
    background-color: transparent;
    filter: brightness(0) invert(1);
  }
}
