.bills-page-grid {
  background-color: var(--beige-100);
  max-width: 1100px;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
  margin-top: 32px;
}

/* LEFT COL */
.bills-page-total {
  border-radius: 12px;
  background-color: var(--grey-900);
  color: var(--white);
  padding: 1.5rem;
}

.bills-page-total img {
  margin-bottom: 32px;
}

.bills-page-total p strong {
  display: block;
  margin-top: 1rem;
}

.bills-page-summary {
  background-color: var(--white);
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.bills-page-summary-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-100);
}

.bills-page-summary div:last-child {
  padding: 0;
  padding-top: 1rem;
  border-bottom: 0;
}

.bills-page-summary div:last-child p,
.bills-page-summary div:last-child strong {
  color: var(--red);
}

/* RIGHT COL */
.bills-page-right-col {
  width: 100%;
  background-color: var(--white);
  border-radius: 12px;
  padding: 1.5rem;
}

.bills-page-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.bills-page-form input {
  padding: 12px 2.5rem 12px 1rem;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  min-width: 320px;
  background-image: url(../../../public/assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.bills-page-dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bills-page-dropdown-icon {
  display: none;
}

.bills-page-dropdown-txt {
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  padding: 12px 1.2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bills-page-dropdown-content {
  border-radius: 8px;
  padding: 1rem 1.1rem;
  position: absolute;
  z-index: 10;
  background-color: rgb(254, 254, 254);
  border: 1px solid var(--grey-100);
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.bills-page-dropdown-content p {
  border-top: 1px solid var(--grey-100);
  padding: 0.7rem;
  cursor: pointer;
  color: var(--grey-500);
}

.bills-page-dropdown-content p:first-child {
  border-top: 0;
}

.bills-page-dropdown-content p:hover {
  color: var(--black);
}

.bills-page-dropdown:hover .bills-page-dropdown-content {
  display: block;
}

.bills-page-table {
  width: 100%;
}

.bills-page-table-labels {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Bills-page-table-label-first,
.Bills-page-table-card-name-img {
  max-width: 320px;
  width: 100%;
}

.Bills-page-table-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid var(--grey-100);
}

.Bills-page-table-card img {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.Bills-page-table-card-name-img {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Bills-page-table-card-date {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Bills-page-table-card-date p {
  color: var(--green);
}

.bills-page-dropdown-content p.active {
  font-weight: 600;
  color: var(--green-700);
}

@media (max-width: 1300px) {
  .bills-page-grid {
    grid-column-gap: 1rem;
  }
  .bills-page-summary {
    margin-top: 1rem;
  }
  .Bills-page-table-label-first,
  .Bills-page-table-card-name-img {
    max-width: 250px;
  }
  .bills-page-form input {
    min-width: 250px;
  }
}

@media (max-width: 1131px) {
  .Bills-page-table-label-first,
  .Bills-page-table-card-name-img {
    max-width: 180px;
  }
  .bills-page-form input {
    min-width: 210px;
  }
}

@media (max-width: 1065px) {
  .bills-page-grid {
    max-width: 100%;
    display: block;
    grid-column-gap: 0;
  }
  .Bills-page-table-label-first,
  .Bills-page-table-card-name-img {
    max-width: 320px;
  }
  .bills-page-right-col {
    margin-top: 1rem;
  }
  .bills-page-right-col {
    padding-bottom: 81px;
  }
  .bills-page-form input {
    min-width: unset;
    width: 70%;
  }
}

@media (max-width: 800px) {
  .bills-page-table-labels,
  .bills-page-dropdown-label,
  .bills-page-dropdown-txt {
    display: none;
  }
  .Bills-page-table-card {
    display: block;
    position: relative;
  }
  .Bills-page-table-card-amount {
    position: absolute;
    z-index: 20;
    top: 56px;
    right: 0;
  }
  .Bills-page-table-card-date {
    margin-top: 12px;
  }
  .bills-page-table .Bills-page-table-card:nth-child(2) {
    border-top: 0;
  }
  .bills-page-dropdown-icon {
    display: block;
    cursor: pointer;
    margin-left: 1rem;
  }
    .bills-page-form input {
  width: 85%;
  }
}
