.budgets-page-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  margin: 32px 0 81px;
  background-color: var(--beige-100);
  max-width: 1100px;
}

.budgets-page-container h2 {
  margin: 1rem 0;
}

/*===== LEFT COLUMN: DONUT =====*/
.budgets-page-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 500px;
  padding: 3rem 1.5rem;
  background-color: var(--white);
  border-radius: 12px;
  max-height: 640px;
}

.budgets-page-left .donut {
  margin-inline: auto;
  margin-bottom: 32px;
}

.budget-page-donut-metrics div:first-child {
  border-top: 0;
}

.budget-page-donut-metric,
.budget-page-donut-metric-amount,
.budgets-page-card-title,
.budgets-page-card-latest-el,
.budgets-page-card-metrics,
.budgets-page-card-metric {
  display: flex;
  align-items: center;
}

.budget-page-donut-metric {
  border-top: 1px solid var(--grey-100);
  padding: 1rem 0;
}

.budget-page-donut-metric-bar,
.budgets-page-metric-bar {
  width: 4px;
  height: 21px;
  border-radius: 8px;
  margin-right: 1rem;
}

.budgets-page-metric-bar {
  background-color: var(--beige-100);
  height: 40px;
}

.budget-page-donut-metric-amount {
  margin-left: auto;
  gap: 12px;
}

/*===== RIGHT COLUMN: BUDGETS CARDS =====*/
.budgets-page-card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.budgets-page-card-title img {
  margin-left: auto;
  cursor: pointer;
}

.budgets-page-card-circle {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 999px;
  margin-right: 1rem;
}

.budgets-page-card-gauge-container {
  background-color: var(--beige-100);
  border-radius: 4px;
  height: 32px;
  width: 100%;
  margin: 1rem 0;
  padding: 4px;
}

.budgets-page-card-gauge {
  height: calc(32px - 8px);
  border-radius: inherit;
  animation: gauge 2s ease-in forwards;
}

@keyframes gauge {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.budgets-page-card-metrics {
  gap: 20%;
  margin: 1.5rem 0;
}

.budgets-page-card-latest {
  background-color: var(--beige-100);
  padding: 1rem;
  border-radius: 12px;
}

.budgets-page-card-latest-el {
  padding: 1rem 0;
}

.budgets-page-card-latest-el {
  border-top: 1px solid var(--grey-100);
}

.budgets-page-card-latest-el img {
  width: var(--portrait);
  aspect-ratio: 1;
  border-radius: 100%;
  margin-right: 1rem;
}

.budgets-page-card-latest-el-date-amount {
  margin-left: auto;
  text-align: end;
}

@media (max-width: 1024px) {
  .budgets-page-container {
    display: block;
    max-width: 100%;
  }
  .budgets-page-left {
    max-width: 100%;
    max-height: auto;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .budget-page-donut-metrics {
    max-width: 350px;
    width: 100%;
  }
  .budgets-page-right {
    margin-top: 1rem;
  }
}

@media (max-width: 800px) {
  .budgets-page-left {
    flex-direction: column;
    gap: 0;
  }
}
