@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./styles/navbar.module.css");
@import url("./styles/overview-page-style/balance.module.css");
@import url("./styles/overview-page-style/pots.module.css");
@import url("./styles/overview-page-style/transactions.module.css");
@import url("./styles/overview-page-style/recurring-bills.module.css");
@import url("./styles/overview-page-style/budgets.module.css");
@import url("./styles/transactions-page-style/transactions-page.module.css");

:root {
  /* Neutral*/
  --white: #ffffff;
  --black: #000;
  --off-white: #f2f3f7;
  /* Beige */
  --beige-500: #98908b;
  --beige-100: #f8f4f0;
  /* Grey */
  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --grey-100: #f2f2f2;
  /* Main Colors */
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;
  /* Other Colors */
  --purple-alt: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97a0ac;
  --army-green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;
  /* SPACINGS */
  --sp-500: 40px;
  --sp-400: 32px;
  --sp-300: 24px;
  --sp-250: 20px;
  --sp-200: 16px;
  --sp-150: 12px;
  --sp-100: 8px;
  --sp-50: 4px;
  /* WIDTH */
  --mx-width: 1060px;
  --portrait: 40px;
  ---card-width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

/* === FONTS PRESETS CLASSES ===*/
.tp1 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
}

.tp2 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
}

.tp3 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 700;
}

.tp4-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 700;
}

.tp4-regular {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
}

.tp5-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 700;
}

.tp5-regular {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
}

/* ===== THIS IS THE APP BODY ===== */
#app-main {
  background-color: var(--beige-100);
  display: grid;
  grid-template-columns: minmax(90px, 300px) 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  padding-right: 40px;
  position: relative;
}

/* ===== LOADER + ANIMATION + Error message ===== */
.spinner {
  display: inline-block;
  width: 18px;
  aspect-ratio: 1/1;
  border: 2px solid var(--grey-400);
  border-top: 2px solid var(--green);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: var(--red);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
}

/* ===== Label + "See details" link bar in components ===== */
.title-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-link-wrapper a {
  color: var(--grey-500);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.3s;
}

.title-link-wrapper a:hover {
  box-shadow: 0 1px 0 0 var(--grey-500);
}

/* ===== REGROUPED COMPONENTS CONTAINERS ===== */
.transactions-and-pots-container,
.budget-bills-container,
.budgets-wrapper,
.transactions-page-container {
  background-color: var(--white);
  border-radius: 12px;
  padding: 1.5rem;
}

.transactions-and-pots-container {
  max-width: 608px;
}

.budget-bills-container,
.budgets-wrapper {
  width: 100%;
}

.budgets-wrapper {
  margin-bottom: 24px;
}

/* ===== MAIN PAGES LAYOUTS ===== */
.overview-page-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 0;
  max-width: 1140px;
}

.page {
  min-height: 100vh;
}

.page h1 {
  padding-top: 31px;
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 1455px) {
  .transactions-and-pots-container {
    max-width: 500px;
  }
}

@media (max-width: 1310px) {
  #app-main {
    gap: 1rem;
    padding-right: 1rem;
  }

  .overview-page-grid {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .transactions-and-pots-container,
  .budget-bills-container,
  .budgets-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  :root {
    --mx-width: 688px;
  }
  #app-main {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .overview-page {
    min-height: calc(100vh - 81px);
    padding-bottom: 80px;
  }
  .transactions-and-pots-container {
    margin-inline: auto;
  }
  .overview-page-grid {
    max-width: 800px;
    margin-inline: auto;
  }
  .bills-container {
    margin-bottom: 12px;
  }
}

@media (max-width: 800px) {
  :root {
    --portrait: 32px;
  }
  body {
    padding: 0 10px;
    background-color: var(--beige-100);
  }
}
